/*------Google Fonts:Poppins stylesheet------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/*-----common css start------*/
body{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
section{
    margin:25px 0px;
}
ul{
    padding: 0px;
}
li{
    list-style:none;
}
a{
    text-decoration: none;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 1110px;
}
h1 {
    font-size: 52px;
    margin: 15px 0px;
}
h2{
    font-size:28px;
    margin: 15px 0px;
}
/*-----common css end------*/

/*----Header area start CSS-----*/
#header-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0px;
    column-gap: 25px;
}
.humbargur-menu{
    display: none;
}
.logo a{
    font-size: 24px;
    font-weight: bold;
    color: #3A3A3A;
}
.main-menu {
    margin-left: 152px;
}
.main-menu nav ul{
    display: flex;
}
.main-menu nav ul li a {
    font-size: 16px;
    text-transform: capitalize;
    padding: 0px 15px;
    color: #3A3A3A;
    font-weight: 500;
}
/*----Header area end CSS-----*/

/*-----Influencer Banner Area Start CSS-----*/
#influencer-banner-area{
    display: flex;
    align-items: center;
    grid-column-gap: 50px;
}
#influencer-banner-area:hover .influencer-image img {
    transform: rotate(45deg);
}
.influencer-btn,.featured-fluencer-btn {
    margin: 15px 0px;
    display: inline-block;
}
.influencer-btn a {
    background-color: #E02C6D;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 16px;
}
.influencer-btn a i,.featured-fluencer-btn a i {
    padding-left: 7px;
}
.influencer-image img{
    height: 414px;
    width: 414px;
    transition: all .3s ease;
}
/*-----Influencer Banner Area End CSS-------*/

/* -----Company logo Area start CSS -----*/
section#company-logo-area {
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #fafafa;
}
.company-logos nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* -----Company logo Area end CSS -----*/

/* Popular Collection Section Start CSS */
.collection-heading{
    text-align: center;
}
.collection-box-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 16px;
}
.collection-single-box {
    width: 329px;
    box-shadow: 5px 10px 15px 5px #f1f1f1;
    padding: 15px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 8px;
}
.collection-image img {
    width: 100%;
}
.collection-rating {
    display: flex;
    align-items: center;
}
.collection-price h3{
    font-weight: normal;
}
.rating-text {
    padding-left: 20px;
}
.rating-icon i {
    color: #ffa500;
}
.see-more{
    text-align: right;
    margin-top: 50px;
}
.see-more a{
    text-align: right;
    color:#E02C6D;
    font-weight: 500;
}
/* Popular Collection Section End CSS */

 /* Optional section start css  */
 .featured-products {
    width: 100%;
    display: flex;
    align-items: center;
    grid-column-gap: 56px;
    padding: 15px;
}
.featured-fluencer-btn a {
    background-color: #E02C6D;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
}
 /* Optional section end css  */

 /* Footer CSS start */
 footer#footer-area {
    text-align: center;
    background-color: #0A0826;
    padding:15px 0px;
}
footer#footer-area h3{
    color:#fff;
}
footer#footer-area p{
    color:#fff;
}
.social-icon nav ul{
    display: flex;
    justify-content: center;   
}
.social-icon nav ul li a i {
    color: #fff;
    background-color: #22213C;
    height: 28px;
    width: 40px;
    margin: 0px 5px;
    border-radius: 100%;
    padding-top: 10px;
}
.social-icon nav ul li a i:hover{
    color: #E02C6D;
}
/* Footer CSS End */
@media only screen and (max-width: 688px){
    #header-area{
        display: none;
    }
    .humbargur-menu{
        display: block;
        text-align: center;
    }
    .main-menu{
        display: none;
    }
    .icon-right{
        display: block;
    }
    h1{
        font-size: 30px;
    }
    .container{
        width: 100%;
    }
    #influencer-banner-area{
        display: none;
    }
    .company-logos nav ul {
        flex-direction: column;
    }
    .collection-box-area {
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0px;
    }
    .collection-single-box{
        width: auto;
    }
    #featured-area{
        display: none;
    }
    .featured-products {
        flex-direction: column;
    }
}
@media screen and (max-width: 992px) {
    .container{
        width: 100%;
    }
    .collection-box-area {
        grid-template-columns: repeat(2, 1fr);
    }  
}